@media screen and (max-width: 1400px) {
    .reservation .form .btn {
      margin: 0.4em auto !important;
    }
  
    .testimonials #p2,
    .testimonials #p1,
    .testimonials #p3,
    .testimonials .person .quote figure,
    .testimonials .person .image {
      float: none !important;
      width: 100% !important;
    }
  
    .testimonials .horizontal-scroll-wrapper {
      width: 100% !important;
      transform: none !important;
      transform-origin: center;
    }
    .Dish .dish-content .content-item {
      width: 90% !important;
    }
    .testimonials .prev-icon,
    .testimonials .next-icon,
    .testimonials .move .btn,
    .testimonials .move ol,
    .testimonials .move .dots .dot {
      display: none;
    }
    .testimonials .person .quote figure {
      margin-left: 0px !important;
    }
  
    .testimonials .horizontal-scroll-wrapper > div {
      padding-left: 0px !important;
    }
  }
  
  @media screen {
    .map {
      background-position: center;
    }
    .map .map-marker {
      transform: none !important;
      top: 40% !important;
      left: 50% !important;
    }
  }
  @media screen and (max-width: 1458px) {
    .section1 .img .child,
    .section2 .img1 .child,
    .section2 .child1 {
      display: none;
    }
    .section2 .text1 p {
      float: none !important;
      width: 100% !important;
      display: block !important;
    }
    .section2 .img1 {
      left: 0;
  
      float: none !important;
      width: 60% !important;
      display: block !important;
      margin-top: 20px !important;
    }
  
    .section2 .img1 img {
      margin-bottom: 0px !important;
  
      margin-left: 0px !important;
    }
  
    .section2 .para1 {
      display: inline-block !important;
      max-width: 260px !important;
  
      float: none !important;
      width: 100% !important;
      position: absolute !important;
      bottom: 250px !important;
      margin-bottom: 60px !important;
    }
  
    .section2 {
      height: fit-content !important;
      margin-top: 0 !important;
      padding-top: 0px !important;
      position: relative;
    }
  
    .section2 .para1 p {
      padding-top: 20px !important;
      margin-top: 0 !important;
      margin-bottom: 0rem !important;
    }
    .section2 .text1 {
      float: none !important;
      width: 100% !important;
      display: inline-block !important;
      max-width: 260px !important;
    }
  }
  
  @media (max-width: 1338px) {
    .Dish {
      height: 2600px !important;
    }
    .Dish .horizontal-scroll-wrapper {
      width: 100% !important;
      transform: none !important;
      transform-origin: center;
    }
    .Dish .dish-content .content-item {
      width: 50% !important;
    }
  
    .Dish .horizontal-scroll-wrapper > div {
      transform: none !important;
    }
  
    .Dish .dish-content .content-item .price,
    .next {
      display: none;
    }
  
    .Dish .dish-content .content-item h5 {
      width: 90% !important;
      font-size: 1.3rem !important;
    }
    .Dish .dish-content .content-item p {
      width: 90% !important;
      font-size: 19px !important;
    }
    .section1 .text p {
      display: inline-block;
      max-width: 280px;
    }
  }
  
  @media (max-width: 1340px) {
    .gallery .gallery-content {
      height: 70vh !important;
      width: 100% !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  
    .gallery .gallery-content .col2 {
      left: 50% !important;
      top: 20% !important;
      margin: auto !important;
    }
    .gallery .gallery-content .col1 {
      top: 10% !important;
    }
  
    .gallery .gallery-content img {
      max-width: 100% !important;
    }
  }
  @media (max-width: 1089px) {
    .events .events-header .content {
      display: inline-block !important;
      width: 100% !important;
    }
  
    .events .events-bottom .event .time .day {
      font-size: 1.5rem;
    }
  
    .events .events-bottom .event .details {
      font-size: 1rem !important;
      padding-right: 17px !important;
    }
  
    .Menu .Menu-desc h2 {
      margin-top: 0px !important;
    }
  
    .Menu .Menu-desc p,
    .Dish .dish-desc p {
      display: inline-block !important;
      width: 336px !important;
      padding-right: 20px !important;
    }
    .menu-content .content-item {
      float: none !important;
      width: 100% !important;
    }
  }
  @media screen and (min-width: 679px) and(max-width:1341px) {
    p {
      font-size: 19px !important;
    }
    .gallery .gallery-content .col3 {
      display: none;
    }
    .gallery .gallery-content {
      height: 500px !important;
      width: 100% !important;
    }
  
    .map {
      background-position: center;
    }
    .map .map-marker {
      transform: none !important;
      top: 40% !important;
      left: 50% !important;
    }
  }
  @media screen and (max-width: 833px) {
    .gallery .gallery-content .col3 {
      left: 10% !important;
      top: 40% !important;
    }
    .gallery .gallery-content {
      height: 70vh !important;
      width: 100% !important;
    }
  
    .events .events-bottom .event .details {
      float: none !important;
      width: 80% !important;
      padding-bottom: 20px !important;
    }
    .events .events-bottom .event .btn {
      float: none !important;
      width: 70% !important;
    }
    .events .events-bottom .event .time {
      float: none !important;
      width: 50% !important;
    }
    .reservation .form .left {
      width: 100% !important;
      float: none !important;
    }
  
    .reservation .form .right {
      width: 100% !important;
      float: none !important;
    }
  
    .Dish .dish-content .content-item {
      width: 90% !important;
      text-align: left !important;
    }
    .menu-content .content-item .content-img {
      float: none !important;
      width: 100% !important;
    }
  
    .menu-content .content-item .content-data {
      float: none !important;
      width: 100% !important;
    }
    .menu-content .content-item .price {
      float: none !important;
      width: 100%;
    }
  }
  @media screen and (max-width: 883px) {
    .Newsletter .content-top {
      width: 50% !important;
    }
    .reservation .above-content p {
      width: 330px !important;
    }
  
    .section1 {
      height: fit-content !important;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
    .section1 .para p {
      float: none !important;
      width: 100% !important;
      display: block !important;
      padding-top: 1rem !important;
      margin-bottom: 10px !important;
      line-height: 1.8 !important;
    }
  
    .section1 .img {
      display: block !important;
      float: none !important;
      width: 60% !important;
    }
  
    .section1 .text {
      float: none !important;
      width: 100% !important;
      margin-top: 20px !important;
  
      margin-left: 10px !important;
    }
  }
  @media screen and (max-width: 1165px) {
    .footer-top {
      float: none !important;
      width: 100%;
    }
    .footer .footer-top .left,
    .footer .center,
    .footer .footer-top .right {
      float: none !important;
      width: 100%;
    }
    .footer .footer-top .left p {
      width: 150% !important;
    }
    .footer .footer-top .center .list,
    .footer .footer-top .right .days,
    .footer .footer-top .right .times,
    .footer h5 {
      width: 220% !important;
    }
  
    .map .mapbox-bottom .text,
    .mapbox-bottom #third {
      display: none !important;
    }
  
    .enjoy .para p {
      display: inline-block !important;
      width: 280px !important;
      padding-left: 0 !important;
      left: 0px !important;
      margin-left: 20px !important;
      padding-top: 100px !important;
    }
    .enjoy .line {
      margin-left: 20px !important;
      top: -16px !important;
    }
    .header .header-bottom {
      display: none;
    }
    .navbar {
      overflow: auto;
    }
    .navbar .content-left ul,
    .navbar .content-right ul {
      display: none;
    }
  
    .navbar .content-center {
      position: absolute;
      left: 25px;
    }
    .navbar .menu {
      display: block;
    }
  }
  @media screen and (min-width: 1166px) {
    .navbar .menu {
      display: none;
    }
  }
  
  @media screen and (max-width: 400px) {
    .footer .footer-top .left p {
      width: 270% !important;
    }
  
    .gallery .gallery-content {
      height: 70vh !important;
      width: 100% !important;
    }
  
    .gallery .gallery-content .col3 {
      margin-top: 130px !important;
  
      left: 40px !important;
    }
    .gallery .gallery-content .col2 {
      margin-top: 40px !important;
    }
    .Newsletter .content-top p {
      font-size: 12px !important;
    }
    .testimonials .person .image img {
      width: 240px !important;
      height: 240px !important;
    }
  
    .reservation .above-content p,
    .Newsletter .content-top p,
    .gallery .top-content p {
      text-align: center !important;
      width: 100% !important;
    }
    .Menu .Menu-desc h2 {
      margin-left: 40px !important;
    }
    .top {
      height: 80vh;
    }
    .header .header-top {
      display: inline-block;
      max-width: 260px;
      padding: 10px;
      margin-top: 170px !important;
      margin-left: 23px !important;
    }
  
    .header .header-top h1 {
      font-size: 4rem !important;
    }
  }
  @media (min-width: 400px) and (max-width: 480px) {
    .footer .footer-top .left p {
      width: 300% !important;
    }
    .gallery .gallery-content {
      height: 70vh !important;
      width: 100% !important;
    }
    .gallery .gallery-content .col3 {
      margin-top: 130px !important;
  
      left: 40px !important;
    }
    .gallery .gallery-content .col2 {
      margin-top: 40px !important;
    }
    .reservation .form .btn {
      margin-left: 30px !important;
    }
  
    .header .header-top {
      max-width: 295px;
      margin-top: 210px !important;
      margin-left: 40px !important;
    }
  }
  @media (max-width: 611px) {
    .Newsletter .form .letter {
      display: block !important;
      width: 100% !important;
      margin-bottom: 20px !important;
    }
    .Newsletter .form .btn {
      display: block !important;
      margin: auto !important;
    }
  
    .Newsletter .content-top {
      max-width: 70%;
    }
    .testimonials .person .quote figure .blockquote > p:after,
    .testimonials .person .quote figure .blockquote > p:before {
      display: none !important;
    }
  }
  @media (min-width: 481px) and (max-width: 623px) {
    .reservation .form .btn {
      margin-left: 50px !important;
    }
  
    .header .header-top {
      max-width: 330px;
      margin-top: 210px !important;
      margin-left: 80px !important;
    }
  }
  
  @media (min-width: 700px) and (max-width: 834px) {
    .reservation .form .btn {
      margin-left: 100px !important;
    }
    .Dish {
      height: 2200px !important;
    }
    h2 {
      font-size: 30px !important;
    }
    .p {
      font-size: 20px !important;
    }
    .enjoy .para p {
      font-size: 29px !important;
      width: 400px !important;
    }
  
    .header .header-top {
      margin-top: 320px !important;
      max-width: 500px;
      height: 70vh !important;
    }
    .header .header-top p {
      font-size: 19px !important;
    }
    .section1 .text p {
      max-width: 600px !important;
      font-size: 19px !important;
      margin-bottom: 20px;
    }
    .section2 .text1 p {
      max-width: 600px !important;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 320px) {
    .footer .footer-top .left p {
      width: 300% !important;
      font-size: 13px !important;
    }
    .footer .footer-top .center .list,
    .footer .footer-top .right .days,
    .footer .footer-top .right .times,
    .footer h5 {
      width: 220% !important;
    }
  
    .gallery .gallery-content {
      height: 90vh !important;
      width: 100% !important;
    }
  
    .gallery .gallery-content .col3 {
      top: 220px !important;
      left: 40px !important;
    }
    .gallery .gallery-content .col2 {
      left: 150px !important;
      margin-top: 30px !important;
    }
    .Newsletter .content-top {
      max-width: 55% !important;
    }
    .Newsletter .content-top p {
      font-size: 12px !important;
    }
    .Menu .Menu-desc p,
    .Dish .dish-desc p {
      display: inline-block !important;
      width: 250px !important;
    }
    .Menu .Menu-desc h2 {
      width: 180px;
    }
  
    .header .header-top {
      display: inline-block;
      max-width: 210px;
      padding: 10px;
      margin-top: 110px !important;
      margin-left: 23px !important;
    }
    .header .header-top h1 {
      font-size: 3rem !important;
    }
    .header .header-top .btn {
      padding: 0.5rem 1rem !important;
    }
    .header .header-top p {
      margin-bottom: 2rem !important;
    }
    .section1 .text p {
      max-width: 250px !important;
    }
  }
  
  @media (max-width: 1341px) and (min-width: 509px) {
    .gallery .gallery-content {
      height: 1000px !important;
    }
  
    .gallery .gallery-content .col3 {
      top: 480px !important;
      left: 40px !important;
    }
  }
  